
    BODY { 
        background: #AAAAAA;
        }
        
        .tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
          display: table-cell;
          width: 120px;
          height: 120px;
          border: 1px solid white;
          background: white 
          cursor: pointer;
        }


    .tile1 {
    width: 120px;
    height: 120px;
    background: purple
    background-position: left top;
    }
    
    .tile2 {
    width: 120px;
    height: 120px;
    background: brown
    background-position: center top;
    }
  
    .tile3 {
    width: 120px;
    height: 120px;
    background: greenyellow
    background-position: right top;
    }
  
    .tile4 {
    width: 120px;
    height: 120px;
    background: red
    background-position: left center;
    }
 
    .tile5 {
    width: 120px;
    height: 120px;
    background: grey
    background-position: center center;
    }
  
    .tile6 {
    width: 120px;
    height: 120px;
    background: wheat
    background-position: right center;
    }
  
    .tile7 {
    width: 120px;
    height: 120px;
    background: greenyellow
    background-position: left bottom;
    }
    
    .tile8 {
    width: 120px;
    height: 120px;
    background: green
    background-position: center bottom;
    }

    .tile9 {
    width: 120px;
    height: 120px;
    background: white;
    }